@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&family=Roboto:wght@100&family=Shrikhand&display=swap');
             /*logo*/

#logo {
    height: 30px;
    padding: 20px;
    font-family: shrikhand;
}

body {
    margin: 0;
    font-family: roboto;
}

header {
    text-align: center;
    box-shadow: 0 2px 2px 1px #808080;
    position: relative;
}
            /*localisation*/

.localisation {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #d3d3d3;
}

input {
    border: none;
    background-color: #d3d3d3;     
}

.localisation input::placeholder{
 color: #000000;
}

            /*section*/

.explorer {
   text-align: center;
   background-color: #f2f2f2;
   padding: 45px;
   font-family: roboto;
}  

.explorer h1{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}
.explorer p{
    font-size: medium;
    color: #808080;
    font-weight: bold;
}

.explorer button{
    background-image:linear-gradient(#FF79DA,#9356DC);
    color: #f2f2f2;
    font-weight: bold;
    padding: 15px;
    font-size: medium;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 16px #0000002e;
}