@import 'utils/mixins';
@import 'base/typography';
@import 'layouts/header';
@import 'layouts/footer';
@import 'vendors/bootstrap';
@import 'components/buttons';
@import 'components/carousel';

        /*logo*/

#logo {
    height: 30px;
    padding: 20px;
    font-family: shrikhand;
}







  