/*localisation*/

.localisation {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #d3d3d3;
}

input {
    border: none;
    background-color: #d3d3d3;
}

.localisation input::placeholder {
    color: #000000;
}


/*button explorer*/

.explorer {
    @include button-explorer;
    text-align: center;
    padding: 45px;
    font-family: "roboto";

    h1 {
        font-size: 30px;
        font-weight: bold;
        color: #000000;
    }

    p {
        font-size: medium;
        color: #808080;
        font-weight: bold; }
}

input {
    border: none;
    background-color: #d3d3d3;
    font-family: "roboto";
}

.localisation input::placeholder {
    color: #000000;
}

/*fonctionnement*/


.fonctionnement {
    @include screen-md{
        margin-right: 20px;
        width: 100%;
}
    
    h2 {
        font-weight: bold;
        margin-left: 30px;
    }

    counter-reset: list;
    margin-left: 20px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    width: 350px;
ol{
    @include screen-md{
        display: flex;
        gap: 35px;
        padding-left: 20px;
}
}
    & li {
        &::before {
            content: counter(list);
            counter-increment: list;
            background-color: #9356DC;
            color: #d3d3d3;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 20px;
            left: -20px;
            
        }
        font-family: "roboto";
        background-color: #f6f6f6;
        border-radius: 20px;
        padding: 15px;
        box-shadow: 0 0 10px #0000002e;
        list-style-type: none;
        position: relative;
        color: #000000;
        font-weight: bold;
        width: 350px;
        margin-bottom: 20px;
    }

    & li:hover {
        transform: scale(1.02);
        opacity: 0.9;
    }

    i.fas {

        margin-right: 30px;
        padding: 10px;
        color: #808080;}
}
