     /*localisation*/
     .localisation .fas {
         padding-left: 70px;
     }

     /*cards*/

     .restaurants_list {
         padding: 20px;

         h2 {
             font-weight: bold;
             margin-left: 30px;
         }

     }

     .restaurants-item_list {
         @include screen-md {
             display: flex;
             flex-wrap: wrap;
             gap: 20px;
             margin-left: 60px;
             padding-top: 25px;
             width: 100%;
         }

         a {
             text-decoration: none;
             color: #000000;
         }
         margin-left: 20px;
         padding-top: 25px;
     }


     .restaurant-item-list__card {
         @include screen-md {
             flex-basis: 45%;
             width: 350px;
         }
         position: relative;
         background-color: $c-w;
         border-radius: 20px;
         background-size: cover;
         cursor: pointer;

         img {
             width: 100%;
             height: 150px;
             border-radius: 20px 20px 0 0;
             object-fit: cover;
         }

         p {
             padding: 10px;
             margin-bottom: 10px;
             padding-top: 0;
             margin-top: 0;
             font-size: medium;
             font-family: "roboto";
         }

     }

     .restaurant-item__description {
         @include heart;

         display: flex;
         justify-content: space-between;
         flex-basis: 50%;
         font-family: "roboto";

         h3 {
             margin-left: 10px;
             margin-bottom: 5px;
             font-weight: bold;
             font-size: medium;
         }
         
     }

     .restaurant-item-list__card span {
         padding: 10px;
         color: #22b822;
         background-color: #99E2D0;
         position: absolute;
         margin-top: 10px;
         margin-right: 10px;
         right: 0;
         font-weight: bold;
         border-radius: 5px;
     }