

.menu-entete {
    @include heart;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 39px;

    h1 {
        font-size: 25px;
    }

    i {
        padding: 40px;
    }
    .fas {
        right: 19px;
    }
    .far{
        padding-right: 19px;
    }
}

/*cards menu*/

.menu {
    @include screen-md {
        margin-right: 20px;
        margin-left: 20px;
    }
   
    background-color: whitesmoke;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -30px;
    padding-bottom: 30px;

    h2 {
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 10px;

        &::after {
            content: "";
            top: 25px;
            left: 10px;
            height: 3px;
            width: 40px;
            background-color: #99e2d0;
            position: absolute;
        }
    }
}

.menu-list__entrees {
    @include card-menu;
    padding-bottom: 40px;

    h2 {
        text-decoration-color: #99e2d0;
    }
}

.menu-list__plats {
    @include card-menu;
    padding-bottom: 40px;
}

.menu-list__desserts {
    @include card-menu;
}

.menu-list__card {
    @include screen-md {
        width: 550px;
    }

    display: flex;
    align-items:self-end;
    background-color: $c-w;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    font-family:"roboto";
    overflow: hidden;

    p {
        margin-left: auto;
        font-weight: bold;
        padding-right: 50px;
    }

    &:hover .menu-item__check {
        margin-right: 0;
        padding: 35px;
     i.fas {
        animation: check 1s ease-in-out;
    }
    }
}

.menu-list-card__description {
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    h3 {
        margin-bottom: 0;
        padding-bottom: 5px;
        padding-left: 10px;
        font-size: large;
        overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }

    p {
        font-weight: normal;
        margin-top: 0;
        padding-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.menu-item_button {
    @include button-explorer;
    text-align: center;
    padding: 30px;
    font-family: "roboto";
}

.menu-list {
    @include screen-lg {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.menu-list-item_entrees{
    @include menu-item_title;
}

.menu-list-item_plats{
    @include menu-item_title;
    animation-delay: 500ms;
}
.menu-list-item_desserts{
    @include menu-item_title;
    animation-delay: 800ms;
}

