
.menu-item__check {
    border-radius: 0 20px 20px 0;
    margin-right: -65px;
    transition: all 1s;
    padding-top: 65px;
    background-color: #99e2d0;

    i.fas {
        padding: 5px;
        background-color: $c-w;
        color: #99e2d0;
        border-radius: 50px;
    }
}

@keyframes appear{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{ transform: translateY(1);
        opacity: 1;
    }
}

@keyframes disparition{
    0%{
        transform: scale(1);
    }
    100%{ transform: scale(0);
    }
}

@keyframes spin{
    to{ transform: rotate(360deg);}
}