// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;



// Small devices
@mixin screen-sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin screen-md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin screen-lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}


//colors clairs

$c-w:#f2f2f2;

//colors
@mixin screen-cw {
  @media (white:#f2f2f2){
    @content;
  }
}



