// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;



// Small devices
@mixin screen-sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin screen-md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin screen-lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

//color primaire
$primaire:#9356DC;

//color secondaire
$secondaire:#FF79DA;

//color tertiaire
$tertiaire:#99e2d0;


//colors clairs

$c-w:#f2f2f2;

//colors
@mixin screen-cw {
  @media (white:#f2f2f2){
    @content;
  }
}

//colors dark
$bl:#353535;

//colors
@mixin screen-bl {
  @media (black-light:#353535) {
    @content; 
  }  
}

//card-menu

  @mixin card-menu{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 15px; 

    h2{
      font-size: large;
      margin: 0;
      padding-left: 10px;
    }
  }

//menu-item_title
@mixin menu-item_title{
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: appear 3s;
}

  //button

  @mixin button-explorer {
    
    button {
        background-image: linear-gradient($secondaire, $primaire);
        color: #f2f2f2;
        font-weight: bold;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: medium;
        border: none;
        border-radius: 30px;
        box-shadow: 0 0 16px #0000002e;
        cursor: pointer;

      &:hover{
        transform: scale(1.02);
        opacity:0.9;
      }
    }
}
  

//heart animation

@mixin heart {
  .far {
    font-size: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    
}

.fas {
    font-size: 22px;
    right: 18px;
    padding-top: 18px;
    position: absolute;
    color: transparent;
    background-image: linear-gradient($secondaire, $primaire);
    -webkit-background-clip: text;
    opacity: 0;    
}

&:hover .fas {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2);
    transition: all 1s ease-in-out;
      }
}