.loader{
    position: fixed;
    height: 100vh;
    inset: 0;
    z-index: 1;
    background-color: #ffff;
    opacity: 0.9;
    animation: disparition 1s;
    animation-fill-mode: forwards;
    animation-delay:4s;
    display: flex;
    align-items: center;
    justify-content: center;

    .fas{
        font-size:60px;
        font-weight: 800;
        color: #9356DC;
        animation: spin 3s infinite linear;
    }
}
