header {
    margin: 0;
    text-align: center;
    box-shadow: 0 2px 2px 1px #808080;
    position: relative;
}

/*logo*/

#logo {
        height: 30px;
        padding: 20px;
        font-family: shrikhand;
    }
    